@mixin items-catalog-details($theme) {

  .app-items-catalog-details {

    .company-name {
      color: map-get($theme, 'color-primary');
    }

    .name {
      color: map-get($theme, 'color-main');
    }

    .description {
      color: map-get($theme, 'color-secondary');
    }

    .price {
      color: map-get($theme, 'color-main');
    }

    .discount {
      background-color: map-get($theme, 'color-primary-light');
      color: map-get($theme, 'color-primary');
    }

    .old-price {
      color: map-get($theme, 'color-accent');
    }
  }
}
