.app-items-catalog-details {

  .company-name {
    color: black;
  }

  .name {
    color: black;
  }

  .description {
    color: black;
  }

  .price {
    color: black;
  }

  .discount {
    background-color: silver;
    color: black;
  }

  .old-price {
    color: silver;
  }
}
