<header class="spacer__vertically spacer__horizontally margin-0-auto">

  <div class="flex flex-justify-content-space-between flex-align-items-center">

    <div class="flex flex-align-items-center" [ngClass]="isOnTabletAndBellow() ? 'gap-16' : 'gap-56'">

      @if (isOnTabletAndBellow()) {
        <div class="burger-menu-icon" (click)="isAsideShown.set(true)"></div>
      }

      <a aria-label="Home" routerLink="/" class="header__logo">
        <img src="/assets/images/logo.svg" alt="Logo" />
      </a>

      @if (!isOnTabletAndBellow()) {
        <div class="flex gap-32 flex-align-items-center">
          @for (link of links; track link) {
            <a class="header__link" [routerLinkActive]="link.link" [routerLink]="link.link">{{ link.title }}</a>
          }
        </div>
      }

    </div>

    <div class="flex width-auto gap-12 flex-align-items-center" [class.gap-32]="!isOnTabletAndBellow()">

      <div class="flex">
        <svg
          appSvg
          class="icon"
          appHoverClasses="icon--active pointer"
          [src]="'/assets/images/icon-cart.svg'"
          [class.icon__big]="!isOnTabletAndBellow()"
        />
      </div>

      <div class="flex">
        <img class="avatar avatar-header" [class.avatar--big]="!isOnTabletAndBellow()" src="/assets/images/image-avatar.png">
      </div>

    </div>

  </div>

</header>

<hr class="margin-0"/>

@if (isAsideShown() && isOnTabletAndBellow()) {

  <div class="fixed top-0 left-0 background__drop width-100 height-100 z-index-2" [@fadeInOut]="" (click)="isAsideShown.set(false)"></div>

  <aside class="width-px-250 fixed top-0 left-0 height-100 z-index-2" [@slideInOutFromLeft]="">

    <div class="spacer__vertically spacer__horizontally margin-0-auto background height-100">

      <div class="flex flex-column gap-56">

        <svg
          appSvg
          class="icon"
          appHoverClasses="icon--active pointer"
          [src]="'/assets/images/icon-close.svg'"
          arialLabel="Close mobile menu"
          [class.icon__big]="!isOnTabletAndBellow()"
          (click)="isAsideShown.set(false)"
        />

        <div class="flex flex-column gap-32">
          @for (link of links; track link) {
            <a routerLink="/" class="aside__link" [routerLink]="link.link" (click)="isAsideShown.set(false)">{{ link.title }}</a>
          }
        </div>

      </div>

    </div>

  </aside>
}
