@mixin spinner($theme) {

  .app-spinner {

    background: map-get($theme, 'color-input');

    &__button {

      path {
        fill: map-get($theme, 'color-primary') !important;
      }

      &--disabled {

        pointer-events: none;

        path {
          fill: transparentize(map-get($theme, 'color-primary'), 0.6) !important;
        }
      }
    }

    &__value {
      color: map-get($theme, 'color-main');
    }
  }
}
