<div
  role="button"
  tabindex="0"
  class="app-spinner__button p-3 pointer-event disabled"
  [class.app-spinner__button--disabled]="parseInt(this.value) <= this.min"
  (click)="_onButtonClick($event, parseInt(this.value) - 1)"
  (keydown)="_onButtonKeydown($event, parseInt(this.value) - 1)"
>
  <svg
    appSvg
    name="icon-minus"
  ></svg>
</div>

<div class="app-spinner__value pt-3 pb-3 text-center fw-bold">{{ value }}</div>

<div
  role="button"
  tabindex="0"
  class="app-spinner__button p-3 pointer-event"
  [class.app-spinner__button--disabled]="parseInt(this.value) >= this.max"
  (click)="_onButtonClick($event, parseInt(this.value) + 1)"
  (keydown)="_onButtonKeydown($event, parseInt(this.value) + 1)"
>
  <svg
    appSvg
    name="icon-plus"
  ></svg>
</div>
