.app-cart-widget {

  background: white;
  width: calc(100% - 1em);

  &__cart-title {
    color: black;
  }

  &__cart-empty {
    color: dimgray;
  }

  &__product-name {
    color: dimgray;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 210px;
    overflow: hidden;
  }

  &__product-price {
    color: dimgray;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 210px;
    overflow: hidden;
  }

  &__product-img {
    width: 50px;
    height: 50px;
  }
}
