@mixin nav($theme) {

  .app-nav {

    &__wrapper {
      background: map-get($theme, 'color-background');
    }

    &__link {

      color: map-get($theme, 'color-secondary');

      &:hover {

        color: map-get($theme, 'color-main');

        &::before {
          background: map-get($theme, 'color-primary');
        }

      }
    }

    &__aside-link {
      color: map-get($theme, 'color-main');
    }
  }
}
