@mixin nav($theme) {

  .app-nav {

    .header__link {

      color: map-get($theme, 'inactive');

      &:hover {

        color: map-get($theme, 'color');

        &::before {
          background: map-get($theme, 'primary');
        }

      }
    }

    .aside__link {
      color: map-get($theme, 'color');
    }
  }
}
