@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'style/layout-grid/mdc-layout-grid';
@import './app/components/header/theme';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

@mixin container($theme) {
  background: map-get($theme, 'background');
  color: map-get($theme, 'color');
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-56 {
  gap: 3.5rem;
}

.margin-0 {
  margin: 0;
}

.margin-0-auto {
  margin: 0 auto;
}

.width-auto {
  width: auto;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.spacer {

  &__vertically {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &__horizontally {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.icon {

  width: 1.25rem;
  height: 1.25rem;

  path {
    fill: silver !important;
  }

  &--active {
    path {
      fill: black !important;
    }
  }

  &__big {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@mixin icon($theme) {
  .icon {

    path {
      fill: map-get($theme, 'inactive') !important;
    }

    &--active {
      path {
        fill: map-get($theme, 'color') !important;
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background: silver
}

@mixin hr($theme) {
  hr {
    background: map-get($theme, 'hr');
  }
}

.avatar {

  width: 1.5rem;
  height: 1.5rem;

  &--big {
    width: 3.125rem;
    height: 3.125rem;
  }

  &-header {

    border: solid 2px transparent;
    border-radius: 100%;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      border: solid 2px silver;
    }

  }
}

@mixin avatar($theme) {
  .avatar {

    &-header {

      &:hover {
        border: solid 2px map-get($theme, 'primary');
      }
    }
  }
}

.fixed {
  position: fixed;
}

.width-px-250 {
  width: 250px;
}

.background {

  background: white;

  &__drop {
    background: rgba(0, 0, 0, 0.75);
  }
}

@mixin background($theme) {
  .background {

    background: map-get($theme, 'background');

    &__drop {
      background: map-get($theme, 'background-drop');
    }
  }
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

svg {
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

$theme-orange: (
  'primary': hsl(26, 100%, 55%),
  'secondary': hsl(25, 100%, 94%),
  'color': hsl(220, 13%, 13%),
  'inactive': hsl(219, 9%, 45%),
  // 'undefined': hsl(220, 14%, 75%),
  'hr': #E8E7EC,
  'accent': hsl(223, 64%, 98%),
  'background': hsl(0, 0%, 100%),
  'background-drop':  opacify(hsl(0, 0%, 0%), 0.75)
);

.orange {
  @include container($theme-orange);
  @include header($theme-orange);
  @include icon($theme-orange);
  @include hr($theme-orange);
  @include avatar($theme-orange);
}
